.footer {
  color: var(--tertiary-text-color);
  width: 90vw;
  margin: 3rem auto;
  text-align: center;
}
.footer h3 {
  font-size: 1.75rem;
  word-spacing: 0.2rem;
}
.footer div a {
  display: inline-block;
  color: var(--primary-text-color);
  font-size: 1.75rem;
  margin: 1rem;
  transition: var(--main-transition);
}
.footer div a:hover {
  color: var(--secondary-text-color);
}
